LoggingService/LoggingService.WCFClient/Service References/WCFLogger/WCFLogger.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFLogger" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/WCFLogger/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/WCFLogger/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/WCFLogger/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFLogger_LogInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:LogInfo" />
  </wsdl:message>
  <wsdl:message name="IWCFLogger_LogInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFLogger_LogError_InputMessage">
    <wsdl:part name="parameters" element="tns:LogError" />
  </wsdl:message>
  <wsdl:message name="IWCFLogger_LogError_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogErrorResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFLogger_LogWarning_InputMessage">
    <wsdl:part name="parameters" element="tns:LogWarning" />
  </wsdl:message>
  <wsdl:message name="IWCFLogger_LogWarning_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogWarningResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFLogger_LogErrorWithException_InputMessage">
    <wsdl:part name="parameters" element="tns:LogErrorWithException" />
  </wsdl:message>
  <wsdl:message name="IWCFLogger_LogErrorWithException_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogErrorWithExceptionResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFLogger">
    <wsdl:operation name="LogInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFLogger/LogInfo" message="tns:IWCFLogger_LogInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFLogger/LogInfoResponse" message="tns:IWCFLogger_LogInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogError">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFLogger/LogError" message="tns:IWCFLogger_LogError_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFLogger/LogErrorResponse" message="tns:IWCFLogger_LogError_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogWarning">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFLogger/LogWarning" message="tns:IWCFLogger_LogWarning_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFLogger/LogWarningResponse" message="tns:IWCFLogger_LogWarning_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogErrorWithException">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFLogger/LogErrorWithException" message="tns:IWCFLogger_LogErrorWithException_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFLogger/LogErrorWithExceptionResponse" message="tns:IWCFLogger_LogErrorWithException_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCFLogger" type="tns:IWCFLogger">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogInfo">
      <soap:operation soapAction="http://tempuri.org/IWCFLogger/LogInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogError">
      <soap:operation soapAction="http://tempuri.org/IWCFLogger/LogError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogWarning">
      <soap:operation soapAction="http://tempuri.org/IWCFLogger/LogWarning" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogErrorWithException">
      <soap:operation soapAction="http://tempuri.org/IWCFLogger/LogErrorWithException" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFLogger">
    <wsdl:port name="BasicHttpBinding_IWCFLogger" binding="tns:BasicHttpBinding_IWCFLogger">
      <soap:address location="http://localhost:8733/WCFLogger/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>